<h2><strong>User info</strong></h2>
<!--attachment_image_tag...で画像挿入-->
<%= attachment_image_tag user, :profile_image, format:"jpeg",
    fallback:"no_image.jpg", size:"100x100" %>
<table class="table table-white">
  <tr>
    <td><strong>name</strong></td>
    <td><strong><%= user.name %></strong></td>
  </tr>
  <tr>
    <td><strong>introduction</strong></td>
    <td><%= user.introduction %></td>
  </tr>
</table>
<%= link_to '', edit_user_path(user.id), class:"w-100 btn btn-secondary fas fa-user-cog" %>
